.sidebar{
    width:15%;    
    background-color:#222;
    height: 100%;
    position: absolute;
}



.sidebar-element{
    color:grey;
    cursor:pointer;    
    font-size:16px;
    transition:0.1s;
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom: 0.1px solid #3e3e3e;
}

.sidebar-element > p{
    margin: 0px;
    margin-right: 50px;
}

.sidebar-element:hover{
    color:#fff;
}

.sidebar-element-action{
    color:grey;
    cursor:pointer;
    font-size:12px;
    transition:0.3s;        
    display: inline;
}

.sidebar-element-action:hover{
    color:#fff;
}